@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #ffb3c1;
  --primary-color-dark: #e5929c;
  --text-dark: #ffcbd1;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1100px;
  --header-font: "Bebas Neue", sans-serif;
}



.letras {
  font-family: "Poppins", sans-serif;
    background: rgb(255, 255, 255);
    color:  #f8aab7;
}




img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
}

.nav__links a:hover {
  color: var(--text-dark);
}

.nav__btns {
  display: none;
}

.header__container {
  max-width: var(--max-width);
  margin: auto;
  padding-block: 8rem 2rem;
  padding-inline: 1rem;
  display: grid;
  gap: 2rem;
  overflow-x: hidden;
}

.header__image {
  position: relative;
  isolation: isolate;
}

.header__image::before {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("assets/header-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: 0.5;
  z-index: -1;
}

.header__image img {
  max-width: 520px;
  margin-inline: auto;
}

.header__image__card {
  position: absolute;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-dark);
  background-color: var(--white);
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header__image__card span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__image__card-1 {
  top: 25%;
  left: 0;
  transform: translate(-50%, -50%);
}

.header__image__card-2 {
  top: 10%;
  right: 2rem;
  transform: translateY(-50%);
}

.header__image__card-3 {
  top: 60%;
  left: 0;
  transform: translateY(-50%);
}

.header__image__card-4 {
  top: 70%;
  right: 0;
  transform: translateY(-50%);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 5.5rem;
  text-align: center;
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__content p {
  margin-bottom: 2rem;
  columns: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.header__content form {
  margin-bottom: 4rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem 0;
  border-radius: calc(1rem + 10px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.header__content .input__row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.header__content .input__group {
  flex: 1;
}

.header__content .input__group h5 {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.header__content .input__group > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__content input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: transparent;
}

.header__content input::placeholder {
  font-weight: 600;
  color: var(--text-dark);
}

.header__content .input__group span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content button {
  width: 100%;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.header__content button:hover {
  background-color: var(--primary-color-dark);
}

.header__content .bar {
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    color: var(--text-dark);
  }

  .nav__logo a span {
    color: var(--primary-color);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    padding-block: 5px;
    color: var(--text-dark);
    border-bottom: 4px solid transparent;
  }

  .nav__links a:hover {
    border-color: var(--primary-color);
  }

  .nav__btns {
    display: flex;
    flex: 1;
  }

  .nav__btns .btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }

  .sign__up {
    color: var(--text-dark);
    background-color: transparent;
  }

  .sign__up:hover {
    color: var(--primary-color);
  }

  .sign__in {
    color: var(--white);
    background-color: var(--primary-color);
  }

  .sign__in:hover {
    background-color: var(--primary-color-dark);
  }

  .header__container {
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content :is(h1, p, .bar) {
    text-align: left;
  }
}

@media (width > 1024px) {
  .header__content form {
    flex-direction: row;
  }

  .header__content button {
    width: fit-content;
  }
}






/*carta de precio*/

@import url("https://fonts.googleapis.com/css?family=Roboto:400");

.letras {
  font-family: "Poppins", sans-serif;
    background: rgb(255, 255, 255);
    color:  #f8aab7;
}



.body1{
    margin: 10;
    padding: 10;
    font-family:  sans-serif !important;
}

section{
    width: 100%;
    height: 105vh;
    box-sizing: border-box;
    padding: 100px 0;
    background: rgb(255, 255, 255);
}

.card {
    position: relative;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
}



.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fas {
    background: linear-gradient(-45deg, #ffadc8, #ffcbd1);
}

.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fas {
    background: linear-gradient(-45deg, #ffadc8, #ffcbd1);
}

.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fas {
    background: linear-gradient(-45deg, #ffadc8, #ffcbd1);
}

.card:before {
    content: ¨¨;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    transform: skewY(-deg) scale(1.5);
}

.title .fas{
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.title h2 {
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 28px;
    z-index: 2;
}

.price {
    position: relative;
    z-index: 2;
}

.price h4 {
    margin: 0;
    padding: 20px 0;
    color: #ffffff;
    font-size: 60px;
}

.option {
    position: relative;
    z-index: 2;
}

.option ul {
    margin: 0;
    padding: 0;
}

.option ul li {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: #000;
    font-size: 16px;
}

.card a {
    position: relative;
    z-index: 2;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.164);
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    display: block;
    text-align: center;
    margin: 20px auto 0;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card a:hover {
    text-decoration: none;
}
.bttn:hover {
    background-color: rgb(243, 171, 216);
    color: #000000;
}



/*cartas animadas*/

.body3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
} 

.contenedor{ 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
} 

.contenedor .cartas { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background: white;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow:  0 35px 80px rgb(255, 216, 216);
} 
.contenedor .cartas:hover { 
  height: 400px;
} 

.contenedor .cartas .caja-img{
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: rosybrown;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
} 

.contenedor .cartas:hover .caja-img {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgb(241, 147, 191)
}

.contenedor .cartas .caja-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor .cartas .contenido {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.contenedor .cartas:hover .contenido {
  top: 130px;
  height: 250px;
}

.contenedor .cartas .contenido h2{
  font-size: 1.5rem;
  font-weight: 700;
  color: #f67d92;
}

.contenedor .cartas .contenido p{
  color: #ffcbd1;
}

.contenedor .cartas .contenido a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25;
  text-decoration: none;
  color: #f67d92;
  font-weight: 500;
}

.contenedor .cartas .contenido a:hover {
  opacity: 0.8;
  background-color: #ffd1d8;
  color: #f8aab7;
}


/*efecto hover*/


.body6{
  width: 50%;
  margin: 0 auto;
  background:  rgb(252, 190, 190);
  padding-top: 100px;
}

.container1{
  display: flex;
}

.card3{
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
}

.card3 .img2{
  object-fit: cover;
  filter:grayscale(1);
  padding: 5px;
  border-radius: 10px;
}

.card3:hover{
  flex: 10;
  transition: 0.5s;
}

.card3:hover .img2{
  filter: none;
  transition: 0.5s;
}



/*Productos despues del header*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}

.container-options span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-options span.active {
	background-color: var(--primary-color);
	color: #fff;
}

/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.card-product {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
	position: relative;
}

.container-img img {
	width: 100%;
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #000;
}




.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.stars i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--primary-color);
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.add-cart:hover i {
	color: #fff;
}

.content-card-product .price {
	justify-self: end;
	align-self: center;

	font-size: 1.7rem;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
}


/* index */

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap&quot");




.bodys {
  font-family: "Poppins", sans-serif;
    background: rgb(255, 255, 255);
    color:  #f8aab7;
}

.bodys h1 {
    text-align: center;
}

.card-containers {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
    margin-top: 2050px;
}

.cards {
    margin: 20px 40px 40px 20px;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}

.cards .fronts{
    border: solid 10px whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 0.5s;
    -webkit-box-shadow: 0px 10px 13px -7px rgba(104, 33, 33, 0), 5px 5px 15px 5px rgba(21, 175, 214, 0);
    box-shadow: 0px 10px 13px -7px #0000, 5px 5px 15px 5px rgb(243, 149, 201);
}

.cards:hover .fronts{
    transform: rotateY(180deg);
}

.cards .backs{
    border: solid 10px whitesmoke;
    width: 100%;
    height: 100%;
    background: #1e1e1e;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
    -webkit-box-shadow: 0px 10px 13px -7px #1d1d1d, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #0000, 5px 5px 15px 5px rgb(243, 149, 201);
}



.cards:hover .backs{
    transform: rotateY(0deg);
}


.cards .backs .detailss {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    box-sizing: border-box;
}

.cards .backs .detailss .captions {
    font-weight: 100;
    font-style: italic;
}

.cards .backs .detailss .captions,
h2,
.spans { 
    color: whitesmoke;
}




/* Comentarios */

.section {
  padding: 20px;
  background-color: #fd99a8;
  margin: 50px 50px 50px 150px; /* Mueve solo el área rosada hacia la derecha */
  width: 80%;
  height: calc(100vh - 120px);
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea, form button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
}

form button {
  background-color: #ffd4db;
  color: #ffffff;
  cursor: pointer;
}

form button:hover {
  background-color: antiquewhite;
}










.espesiales1{
  margin: 0;
  
  box-sizing: border-box;
}


.barras1 {
  display: flex;
}

.tarjetas1 {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
}

.tarjetas1 img {
  object-fit: cover;
  filter: grayscale(1);
  padding: 5px;
  border-radius: 10px;
}

.tarjetas1:hover {
  flex: 10;
  transition: 0.5;
}

.tarjetas1:hover img {
  filter: none;
  transition: 0.5s;
}









@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* Estilo de los enlaces de la barra de navegacion */
.navbar a {
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Cambiar el color cuando paso el mouse */
.navbar a:hover {
    background-color: #d356a3;
    color: #d356a3;
}
  
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #FFC0CB;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



